<h1>Titan Supercomputer Statistics</h1>
<p><b><u>Future Features</u></b></p>
<li>Lists up/down status</li>
<li>show --> stats for that node</li>
<li>graphs and stuff</li>
<li>Tie into silicon tooling aggregation table to build graphs and other
  graphics like gauges</li>




<br/>